html {
    color: #003049;
    background-color: #eaebec;
    font-size: 16px;

}

nav {
    background-color: #FEE56D;
}

.banner {
    background-color: #A5A5A5;
}

.information {
    background-color: #EAEBEC;
}

.courses {
    background-color: #CDCDCD;

}

.thesis {
    background-color:  #EAEBEC;
}

.footer {
    background-color:  #EAEBEC;
}




